.theme-btn{
    position: fixed;
    bottom: 40%;
    right: 0rem;
    z-index: 100000000;
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    background-color: var(--secondary-color);
    display: flex;
    align-content: center;
    justify-content: center;

}

